.button {
   background-color: #db035d; 
   border: none;
   color: white;
   padding: 7px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 12px;
   border: 2px solid rgba(50, 500, 300, 200.700);
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }